*{
    margin: 0;
    padding: 0;
}
/* banner */
.banner{
    display: flex;
    background-color: #E554731A;
    align-items: center;
    padding: 0px 300px;
    gap: 300px;
    height: 550px;  
}
.banner-img{

    width: 635px;
    height: 550px;  
}

body{
    font-family: 'Lato', sans-serif;
}
.title{
    font-size: 60px;
    font-weight: bold;
}
.description{
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 25px;
}
.bnt{
    padding: 10px 20px;
    background-color: #E55473;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
}
/* bonaz */


.bonaz-title{
    
    text-align: center;
    
   
   
}
.fonts-title{
    color: #272727;
    font-size: 32px;
    font-weight: 800;
    padding: 20px;
}
.preconnect{
    color: rgba(39, 39, 39, 0.60);o;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 50px;
    
   
}
.img-section{
    display: flex;
}
/* img */
.img-flowers{
    display: flex;
    justify-content: space-around;
    padding: 0px 180px;
}
.frist-img{
    background-color: #A7216226;
    border-radius: 300px 300px 0px 0px;
    width: 464px;
    height: 538px;
    
    
}

.second-img{
    background-color: #0597A026;
    border-radius: 300px 300px 0px 0px;
    width: 464px;
    height: 538px;

}
.third-img{
    background-color: #477D1126;
    border-radius: 300px 300px 0px 0px;
    width: 464px;
    height: 538px;
    
}
/* image cls */
.img-whith{
   margin-top: 109px;
   margin-left: 62px;
}
.img-content{
    margin-top: 109px;
    margin-left: 60px;
}
.img-padden{
    margin-top: 65px;
    margin-left: 62px;
}
/* main */
.banner-section-titel{
    display: flex;
    margin-top: 100px;
    background-color: #E554730D;
    align-items: center;
    padding: 0px ;
    gap: 300px;
    height: 480px; 
    margin-bottom: 100px;
    padding: 0px 350px;
}




.main-section{
    color: #272727;
    display: flex;
    font-size: 40px;
    font-weight: bold;
    padding-left: 70px;
   
   
}
.text-section{
     color: #27272799;
     padding-top: 20px;
     padding-bottom: 30px;
     padding-left: 55px;
     width: 550px;
     font-size: 18px;
     font-weight: 400;
    line-height: 30px;
     
}
.bnt-section{
    
    padding: 15px 25px;
    background-color: #E55473;
    color: #FFFFFF;
    border: none;
    text-align: center;
    

 
}
span{
    color: #E55473;
}
.main-section-img{
    padding-right: 100px;
    padding-top: 20px;

}
.button-section{
    padding-left: 200px;
}

.instagram-section{
    text-align: center;
    margin: 100px 200px;
}
.instagram-image{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.instagram-image > img {
    width: 300px;
    height: 350px;
}
.ins-font{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}
.ins-titel{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
/*  */

.backround-img{
    /* margin-top: 50px; */
    /* justify-content: space-between; */
    /* width: 1440px; */
    height: 430px;
    background-image: url("Flower Asset/Rectangle 9.png");
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 50px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
 
    
}
.subscribe-input{
    padding: 15px 400px 15px 5px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
}

.button-subscribe{
    padding: 15px 20px;
    margin-left: 10px;
    border: none;
    background-color: #E55473;
    border-radius: 5px;
    
}
.text-conten{
    text-align: center;
 
}
.text-conten > h1{
    margin-bottom: 20px;
    color: #272727;
 font-size: 40px;
font-weight: 700;
}
.text-conten > p {
    color: rgba(39, 39, 39, 0.60);
 font-size: 18px;
 font-weight: 400;
}
.footer{
    background-color: black;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.footer-conten{
    color: #FFFFFF;
    text-align: center;
}
.footer-conten > p {
    width: 600px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.copy-text-conten{
    color: #FFFFFF66;
}
.footer-font-siz{
    font-size: 50px;
    
}
.bnt-section{
    border-radius: 5px;
   
}